torch==2.12.0
torchvision==0.27.0
torchaudio==2.11.0
tensorrt==10.16.1.11
diffusers==0.24.0
transformers==4.36.2
accelerate==1.13.0
safetensors==0.8.0rc0
numpy==2.4.4
opencv-python-headless==4.13.0.92
dearpygui==2.3.1
pygame-ce==2.5.7
PyAudio==0.2.14
streamdiffusion==0.1.1
Pillow==12.2.0
huggingface-hub==0.23.5
tqdm==4.67.3
PyYAML==6.0.3
requests==2.34.0
scipy
